.header {
    background-color: rgb(0, 121, 107);
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px 0px;
}

.logoTitleButtons {
    display: grid;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    grid-template-areas: 
        "appLogo navTitle navTitle navTitle navTitle navTitle"
        "appLogo navTitle navTitle navTitle navTitle navTitle";
}

.logo {
    display: flex;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 2% 0;
}

.appLogo {
    display: flex;
    margin: 5%;
    padding: 2%;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
    max-width: 90%;
    height: auto;
}

#navTitle {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}

.nav {
    display: grid;
    text-align: center;
    grid-template-areas: 
        "nav1 nav2 nav3 nav4";
    padding: 2px;
    margin: 5px;
}

h1 {
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 121, 107);
    color: whitesmoke;
    margin: 10px 3px 3px 3px;
    padding: 2px 2px 0 2px;
    border-radius: 5px;
  }

  #footer {
      background-color: rgb(0, 121, 107);
      margin: 2px 0;
      border-radius: 5px;
  }

@media only screen and (min-width: 400px) {
    #navTitle {
        font-size: 35px;
    }
}

@media only screen and (min-width: 500px) {
    #navTitle {
        font-size: 40px;
    }
}

@media only screen and (min-width: 600px) {
    #navTitle {
        font-size: 45px;
    }
}

@media only screen and (min-width: 900px) {
    #navTitle {
        font-size: 60px;
    }
}

@media only screen and (min-width: 1100px) {
    #navTitle {
        font-size: 85px;
    }
}

@media only screen and (min-width: 1200px) {
    #navTitle {
        font-size: 100px;
    }
}