.projName, .projDesc, .tech, 
.startDate, .endDate, .status,
.size, .skills {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 121, 107);
    /* margin: 20px, 0, 5px, 5px; */
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 5px;
}

::placeholder {
    font-family: arial;
    color: black;
    font-size: 18px;
    justify-content: left;
    vertical-align: center;
}

.projNameInput, .projDescInput, .techInput, 
.startDateInput, .endDateInput, .statusInput,
.sizeInput, .skillsInput {
padding: 5px;
}

input, textarea {
    font: arial;
    padding: 10px;
    width: 160%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid rgb(0, 121, 107);
    box-shadow: 1px 1px 1px rgb(107, 202, 185);
}

#open {
    box-shadow: none;
}

button {
    padding: 10px;
    background-color: rgb(192, 255, 255);
}