.enterProject {
    width: 85vw;
    padding: 5px;
}

.loginAlert {
    text-align: center;
    font-weight: bold;
    color:rgb(0, 121, 107);
}

.projName, .projDesc, .tech, 
.startDate, .endDate, .status,
.size, .skills {
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 121, 107);
    /* margin: 20px, 0, 5px, 5px; */
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 5px;
}

::placeholder {
    font-family: arial;
    color: black;
    font-size: 18px;
    justify-content: left;
    vertical-align: center;
}

.projNameInput, .projDescInput, .techInput, 
.startDateInput, .endDateInput, .statusInput,
.sizeInput, .skillsInput {
    font-size: 20px;
    padding: 5px;
}

input, textarea {
    font: arial;
    padding: 10px;
    width: 80vw;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid rgb(0, 121, 107);
    box-shadow: 1px 1px 1px rgb(107, 202, 185);
}

input[type=checkbox] {
    transform: scale(1.5);
    width: 20px;
    border: none;
    box-shadow: none;
    margin-left: 10px;
    margin-right: 30px; 
}

#open {
    box-shadow: none;
}

button {
    padding: 10px;
    background-color: rgb(192, 255, 255);
}

@media only screen and (min-width: 600px) {

    .enterProject {
        font-size: 40px;
        width: 90vw;
    }
    
    .loginAlert {
        font-size: 24px;
    }

    .projName, .projDesc, .tech, 
    .startDate, .endDate, .status, 
    .size, .skills {
        font-size: 35px;
    }

    ::placeholder {
        font-size: 24px;
    }

    .statusIn {
        font-size: 28px;
    }
}