.signupHeading, .loginHeading {
    color: rgb(0, 121, 107);
    text-align: left;
    text-decoration: underline;
    font-size: 26px;
}

.register {
    justify-content: left;
}

::placeholder {
    font-size: 16px;
    color: gray;
    justify-content: left;
    text-align: left;
    margin: 5px;
    padding: 5px;
}

.entryLabel {
    font-size: 20px;
}

.entry {
    font-size: 16px;
    color: gray;
    width: 58%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}