body {
    font-size: 20px;
}

p, .button {
    text-align: center;
}

h2 {
    font-size: 35px;
    text-align: center;
}

.projTitle {
    font-size: 26px;
    font-weight: bold;
    color: rgb(0, 121, 107);
}

.projDesc, .projDev {
    font-size: 22px;
    padding: 0 5px;
}

.projMan {
    font-size: 22px;
    padding: 0 5px;
    color: rgb(049, 051, 053);
}

.card {
border-radius: 2px;
height: 400px;
margin: 1rem;
width: 325px;
box-shadow: 0 3px 6px #999, 0 3px 6px #999;
text-align: center;
padding: 15px 5px;
background-color: rgb(178, 223, 219);
}

@media only screen and (min-width: 600px) {

    body {
        font-size: 22px;
    }

    button {
        font-size: 22px;
    }
}

@media only screen and (min-width: 900px) {
    button {
        font-size: 28px;
    }
}

@media only screen and (min-width: 1100px) {
    button {
        font-size: 36px;
    }
}