body {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}

hr {
  border: 2px solid rgb(0, 121, 107);
  border-radius: 5px;
}

#devProfile {
  background-color: rgb(0, 121, 107);
  color: white;
  border-radius: 5px;
  padding: 2px;
  margin-top: -45px;
}

.name {
  margin: 5px;
  margin-left: 45px;
  padding: 5px 5px 0px 45px;
}

.contact nav ul {
  list-style-type: none;
  border-radius: 2px;
  /* box-shadow: 0 3px 6px #999, 0 3px 6px #999; */
  align-content: center;
  margin-left: 45px;
}

.contact nav ul li {
  /* display: flex; */
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-content: center;
  justify-content: center;
  margin-left: 45px;
}

a .contact nav ul li {
  color: rgb(0, 121, 107);
  text-decoration: none;
}

a:link .contact nav ul li {
  color: rgb(0, 121, 107);
  text-decoration: none;
}

a:visited .contact nav ul li {
  color: rgb(51, 2, 51);
  text-decoration: none;
}

#email {
  display: inline-flex;
  flex-direction: row;
  margin: 5px;
  padding: 5px 5px 0px 45px;
}

a[href^="mailto"] {
  color: rgb(0, 121, 107);
}

#github {
  display: inline-flex;
  flex-direction: row;
  margin: 5px;
  padding: 5px 5px 0px 45px;
}

#linked {
  display: inline-flex;
  flex-direction: row;
  margin: 5px;
  padding: 5px 5px 0px 45px;
}

.set,
.list,
.userProjects {
  margin: 5px;
  margin-left: 45px;
  padding: 5px 5px 0px 45px;
}

.item {
  margin-left: 45px;
}

.fa {
  font-size: 18px;
}

.checked {
  color: orange;
}

.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

.right {
  text-align: right;
}

#stars {
  margin-left: 90px;
}

#average {
  font-size: 16px;
}

.row {
  width: 60%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.barContainer {
  width: 80%;
  background-color: lightgray;
  text-align: center;
  color: white;
}

/* Need to write code to automatically update width based on number of starts; if time permits*/
.bar-5 {
  width: 80%;
  height: 18px;
  background-color: #04ac28;
}

.bar-4 {
  width: 50%;
  height: 18px;
  background-color: #2393f0;
}

.bar-3 {
  width: 35%;
  height: 18px;
  background-color: #1be3fd;
}

.bar-2 {
  width: 25%;
  height: 18px;
  background-color: #fce51b;
}

.bar-1 {
  width: 15%;
  height: 18px;
  background-color: #b93b32;
}

@media (max-width: 400px) {
  .side,
  .middle {
    width: 100%;
  }
}
